body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 1440px;
  height: 100vh;
  margin: auto;
  flex: 1 1 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.page {
  flex: 1 1 auto;
}
